<div class="container individual" *ngIf="character">
  <div class="max-w-[600px] mx-auto flex flex-col gap-y-8">
    <div>
      <a class="with-icon" [routerLink]="['/characters']">
        <left-arrow-icon></left-arrow-icon> Go Back
      </a>
    </div>
    <div class="text-center">
      <div class="card">
        <img [src]="character.image" alt="{{character.name}}" id="character-portrait" class="rounded-[100px] w-[300px] mx-auto" />
        <div class="card-body">
          <h3 class="card-title">{{character.name}}</h3>
          <div class="card-subtitle">
            <span>{{character.species}}</span>
            <span> {{character.gender}} </span>
            <span>{{character.species}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between">
      <a class="with-icon" [routerLink]="['/character', id - 1]">
        <left-arrow-icon></left-arrow-icon> Previous
      </a>
      <a class="with-icon" [routerLink]="['/character', id + 1]">
        Next <right-arrow-icon></right-arrow-icon>
      </a>
    </div>
  </div>
</div>