<div class="flex flex-col gap-y-8">

  <div class="flex justify-between items-center">
    <form class="app-search-wrapper">
      <input name="name-search" placeholder="Search By Name" type="text" autocomplete="off" [(ngModel)]="searchTerm" (keyup)="handleSearch()" />
    </form>

    <ng-container *ngIf="paginationObject">
      <pagination [data]="paginationObject" (onPageChange)="handlePageChange($event)"></pagination>
    </ng-container>

  </div>

  <div class="" *ngIf="searchTerm">showing results for "{{searchTerm}}"</div>

  <div *ngIf="errorMessage">{{errorMessage}}</div>

  <table *ngIf="characterCall" class="clickable w-full">
    <tbody *ngIf="characterCall.results">
      <tr *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : paginationObject.currentPage, nameSearch : searchTerm }">
        <td>{{c.name}}</td>
        <td>{{c.species}}</td>
        <td>{{c.status}}</td>
        <td>{{c.gender}}</td>
      </tr>
    </tbody>
  </table>

</div>