<div>

  <div class="flex justify-between items-center mb-10">
    <form class="app-search-wrapper">
      <input name="name-search" placeholder="Search By Name" type="text" autocomplete="off" [(ngModel)]="searchTerm" (keyup)="handleSearch()" />
      <button class="wide" type="submit">Search</button>
    </form>
    <ng-container *ngIf="pages">
      <div class="app-pagination-wrapper">
        <a [ngClass]="{'disabled': (paginationObject.currentPage === 1)}" (click)="handlePageChange(paginationObject.currentPage - 1)">
          <left-arrow-icon></left-arrow-icon>
        </a>
        <div class="flex items-center justify-center gap-x-2">
          Page
          <select [(ngModel)]="pageNumberInput" (change)="handlePageChange(pageNumberInput)">
              <option *ngFor="let p of [].constructor(paginationObject.totalPages); let i = index" [ngValue]="i+1">{{i+1}}</option>
            </select>
        </div>

        <!-- <span *ngIf="paginationObject.startPage > 1">...</span> -->
        <!-- <a *ngFor="let p of paginationObject.pages" [ngClass]="{'active': (p === paginationObject.currentPage)}" (click)="handlePageChange(p)">{{p}}</a> -->
        <!-- <span *ngIf="paginationObject.endPage < paginationObject.totalPages">...</span> -->
        <a [ngClass]="{'disabled': (paginationObject.totalPages === paginationObject.currentPage)}" (click)="handlePageChange(paginationObject.currentPage + 1)">
          <right-arrow-icon></right-arrow-icon>
        </a>
      </div>
    </ng-container>
  </div>

  <div *ngIf="searchTerm">showing {{characterCall.results.length}} results for "{{searchTerm}}"</div>

  <div *ngIf="errorMessage">{{errorMessage}}</div>

  <table *ngIf="characterCall" class="clickable w-full">
    <tbody *ngIf="characterCall.results">
      <tr *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }">
        <td>{{c.name}}</td>
        <td>{{c.species}}</td>
        <td>{{c.status}}</td>
        <td>{{c.gender}}</td>
      </tr>
    </tbody>
  </table>


</div>