/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/font/GothamPro-Light.eot');
  src: local('Gotham Pro Light'), local('GothamPro-Light'),
      url('./assets/font/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/GothamPro-Light.woff2') format('woff2'),
      url('./assets/font/GothamPro-Light.woff') format('woff'),
      url('./assets/font/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/font/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
      url('./assets/font/GothamPro.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/GothamPro.woff2') format('woff2'),
      url('./assets/font/GothamPro.woff') format('woff'),
      url('./assets/font/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/font/GothamPro-Medium.eot');
  src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
      url('./assets/font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/GothamPro-Medium.woff2') format('woff2'),
      url('./assets/font/GothamPro-Medium.woff') format('woff'),
      url('./assets/font/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/font/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
      url('./assets/font/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/GothamPro-Bold.woff2') format('woff2'),
      url('./assets/font/GothamPro-Bold.woff') format('woff'),
      url('./assets/font/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-100 text-white;
  }

  h1, .h1 {
    @apply text-6xl;
  }

  h2, .h2 {
    @apply text-5xl;
  }

  h3, .h3 {
    @apply text-4xl;
  }

  h4, .h4 {
    @apply text-3xl;
  }

  h5, .h5 {
    @apply text-2xl;
  }

  h6, .h6 {
    @apply text-xl;
  }

}

