/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/font/GothamPro-Light.eot');
  src: local('Gotham Pro Light'), local('GothamPro-Light'), url('./assets/font/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('./assets/font/GothamPro-Light.woff2') format('woff2'), url('./assets/font/GothamPro-Light.woff') format('woff'), url('./assets/font/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/font/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'), url('./assets/font/GothamPro.eot?#iefix') format('embedded-opentype'), url('./assets/font/GothamPro.woff2') format('woff2'), url('./assets/font/GothamPro.woff') format('woff'), url('./assets/font/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/font/GothamPro-Medium.eot');
  src: local('Gotham Pro Medium'), local('GothamPro-Medium'), url('./assets/font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'), url('./assets/font/GothamPro-Medium.woff2') format('woff2'), url('./assets/font/GothamPro-Medium.woff') format('woff'), url('./assets/font/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/font/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'), url('./assets/font/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('./assets/font/GothamPro-Bold.woff2') format('woff2'), url('./assets/font/GothamPro-Bold.woff') format('woff'), url('./assets/font/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-neutral-100 text-white mb-16;
  }
  h1,
  .h1 {
    @apply text-4xl md:text-6xl;
  }
  h2,
  .h2 {
    @apply text-3xl md:text-5xl;
  }
  h3,
  .h3 {
    @apply text-2xl md:text-4xl;
  }
  h4,
  .h4 {
    @apply text-xl md:text-3xl;
  }
  h5,
  .h5 {
    @apply text-lg md:text-2xl;
  }
  h6,
  .h6 {
    @apply text-base md:text-xl;
  }
  input,
  select {
    @apply rounded-md px-4 py-3 text-neutral-100;
  }
  .app-container {
    @apply container px-4 md:mx-auto max-w-[1024px];
  }
  button,
  button[type=submit] {
    @apply px-4 py-2 rounded-md bg-primary-40;
  }
  button.wide {
    @apply px-20;
  }
  table {
    @apply border border-neutral-40 rounded-md border-separate;
    border-spacing: 0;
    &.clickable {
      tr {
        &:hover {
          @apply bg-neutral-40 cursor-pointer text-primary-40;
        }
      }
    }
    & td {
      @apply px-4 py-3 border-b border-neutral-40;
    }
  }
  a {
    @apply text-primary-40 cursor-pointer;
    &.with-icon {
      @apply flex gap-x-2;
    }
    &:hover {
      @apply underline;
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

@layer components {
  .app-pagination-wrapper {
    @apply flex justify-center gap-x-4;
    & a {
      @apply inline-flex items-center justify-center min-w-[1.5rem];
      &:hover {
        @apply text-primary-40 cursor-pointer;
      }
      &.active {
        @apply text-primary-40;
        @apply border-b border-primary-40
      }
    }
  }
  .card {
    margin: 0px auto;
    max-width: 600px;
    @apply bg-neutral-40 rounded-xl p-8;
    & .card-body {
      @apply pt-12 py-4 flex flex-col gap-y-4;
    }
    & .card-subtitle {
      @apply flex justify-center gap-x-4;
    }
  }
}